In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('c.csv')
print(data)

      Unnamed: 0             location  total_sqft  bath  price  bhk
0              0  1st Block Jayanagar      2850.0   4.0  428.0    4
1              1  1st Block Jayanagar      1630.0   3.0  194.0    3
2              2  1st Block Jayanagar      1875.0   2.0  235.0    3
3              3  1st Block Jayanagar      1200.0   2.0  130.0    3
4              4  1st Block Jayanagar      1235.0   2.0  148.0    2
...          ...                  ...         ...   ...    ...  ...
7356       10292                other      1200.0   2.0   70.0    2
7357       10293                other      1800.0   1.0  200.0    1
7358       10296                other      1353.0   2.0  110.0    2
7359       10297                other       812.0   1.0   26.0    1
7360       10300                other      3600.0   5.0  400.0    4

[7361 rows x 6 columns]

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [4]:
data=data[['location','total_sqft','bath','price','bhk']]

In [5]:
x=data.drop(columns=['price'])
y=data['price']
y

0       428.0
1       194.0
2       235.0
3       130.0
4       148.0
        ...
7356     70.0
7357    200.0
7358    110.0
7359     26.0
7360    400.0
Name: price, Length: 7361, dtype: float64

In [6]:
x_t,x_te,y_t,y_te=train_test_split(x,y,test_size=0.2,random_state=0)

In [7]:
c_t=make_column_transformer((OneHotEncoder(sparse_output=False),['location']),remainder='passthrough')
scaler=StandardScaler()
ri=Ridge()
pipe=make_pipeline(c_t,scaler,ri)
pipe.fit(x_t,y_t)
y_p_ri=pipe.predict(x_te)
r2_score(y_te,y_p_ri)

0.8234146633312646

In [8]:
import pickle
pickle.dump(pipe,open('r3.pkl','wb'))

In [9]:
pipe=pickle.load(open("r3.pkl",'rb'))

In [10]:
lo="1st Block Jayanagar"
sqrt='2850'
bath='4'
bhk='4'
input=pd.DataFrame([[lo,sqrt,bath,bhk]],columns=['location','total_sqft','bath','bhk'])
p=pipe.predict(input)
p

array([335.49733658])